.footermenu {
position:relative;
bottom:0;
left:0;
right:0;
z-index:900;
height:49px;
}

.footermenu ul {
border-top:1px solid #e5e5e5;
position:fixed;
z-index:900;
bottom:0;
left:0;
right:0;
margin:auto;
display:block;
width:100%;
height:52px;
display:-webkit-box;
display:box;
-webkit-box-orient:horizontal;
background-color:#fff;

}

#mymenu .footermenu ul {
position:relative;
}

.footermenu ul li {
width:auto!important;
height:100%;
position:static!important;
margin:0;
border-radius:0!important;
-webkit-box-sizing:border-box;
box-sizing:border-box;
-webkit-box-flex:1;
box-flex:1;
-webkit-box-sizing:border-box;
box-shadow:none!important;
background:none;
}

.footermenu ul li a {
color:#aaa;
line-height:20px;
text-align:center;
display:block;
text-decoration:none;
padding-top:2px;
font-size:12px;
position:relative;
height:50px;
}

.footermenu ul li a.active {
color:#ff6666;

}


.footermenu ul li a .num {
font-size:10px;
position:absolute;
z-index:9;
left:55%;
top:-5px;
color:#fff;
font-family:Verdana;
font-weight:normal;
line-height:10px;
padding:2px 4px;
border-radius:15px;
}

.footermenu ul li a img {
width:22px;
height:22px;
margin-top: 5px;
}

.footermenu ul li a p {
margin:2px 0 0 0;
font-size:12px;
display:block !important;
line-height:18px;
text-align:center;
}