@font-face {
	font-family: icomoon;
	src: url('//static.kaistart.com/icomoon.eot?ticnm1');
	src: url('//static.kaistart.com/icomoon.eot?ticnm1#iefix') format('embedded-opentype'), url('//static.kaistart.com/icomoon.ttf?ticnm1') format('truetype'), url('//static.kaistart.com/icomoon.woff?ticnm1') format('woff'), url('//static.kaistart.com/icomoon.svg?ticnm1#icomoon') format('svg');
	font-weight: 400;
	font-style: normal
}

[class*=" icon-"],
[class^=icon-] {
	font-family: icomoon!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-kaistart-right-chat:before {
	content: "\E93D"
}

.icon-kaistart-circle-more:before {
	content: "\E93C"
}

.icon-kaistart-why:before {
	content: "\E601"
}

.icon-kaistart-about:before {
	content: "\E602"
}

.icon-kaistart-progress:before {
	content: "\E604"
}

.icon-kaistart-quote:before {
	content: "\E605"
}

.icon-kaistart-comment-none:before {
	content: "\E606"
}

.icon-kaistart-postition:before {
	content: "\E612"
}

.icon-kaistart-phone:before {
	content: "\E61A"
}

.icon-kaistart-safe:before {
	content: "\E61D"
}

.icon-kaistart-lock:before {
	content: "\E620"
}

.icon-kaistart-people:before {
	content: "\E623"
}

.icon-kaistart-badge:before {
	content: "\E627"
}

.icon-kaistart-heart-add:before {
	content: "\E630"
}

.icon-kaistart-heart-none:before {
	content: "\E631"
}

.icon-kaistart-customer-service:before {
	content: "\E6FC"
}

.icon-kaistart-circle-plus:before {
	content: "\E901"
}

.icon-kaistart-diamond:before {
	content: "\E902"
}

.icon-kaistart-apostrophe-closely:before {
	content: "\E903"
}

.icon-kaistart-apostrophe:before {
	content: "\E904"
}

.icon-kaistart-arrows-left:before {
	content: "\E905"
}

.icon-kaistart-arrows-right:before {
	content: "\E906"
}

.icon-kaistart-circle-hollow:before {
	content: "\E907"
}

.icon-kaistart-circle-solid:before {
	content: "\E908"
}

.icon-kaistart-close-solid:before {
	content: "\E909"
}

.icon-kaistart-close:before {
	content: "\E90A"
}

.icon-kaistart-backtotop:before {
	content: "\E90B"
}

.icon-kaistart-camera:before {
	content: "\E90C"
}

.icon-kaistart-collection-list:before {
	content: "\E90D"
}

.icon-kaistart-list:before {
	content: "\E90E"
}

.icon-kaistart-comment:before {
	content: "\E90F"
}

.icon-kaistart-transpond:before {
	content: "\E910"
}

.icon-kaistart-complete:before {
	content: "\E911"
}

.icon-kaistart-notice:before {
	content: "\E912"
}

.icon-kaistart-smile:before {
	content: "\E913"
}

.icon-kaistart-diagonal-long:before {
	content: "\E914"
}

.icon-kaistart-diagonal:before {
	content: "\E915"
}

.icon-kaistart-direction-down:before {
	content: "\E916"
}

.icon-kaistart-direction-left:before {
	content: "\E917"
}

.icon-kaistart-direction-right:before {
	content: "\E918"
}

.icon-kaistart-direction-up:before {
	content: "\E919"
}

.icon-kaistart-heart-broken:before {
	content: "\E91A"
}

.icon-kaistart-heart:before {
	content: "\E91B"
}

.icon-kaistart-album:before {
	content: "\E91C"
}

.icon-kaistart-image:before {
	content: "\E91D"
}

.icon-kaistart-vedio:before {
	content: "\E91E"
}

.icon-kaistart-add-users:before {
	content: "\E91F"
}

.icon-kaistart-insert-text:before {
	content: "\E920"
}

.icon-kaistart-return-activity:before {
	content: "\E921"
}

.icon-kaistart-return-entity:before {
	content: "\E922"
}

.icon-kaistart-return-equity:before {
	content: "\E923"
}

.icon-kaistart-group:before {
	content: "\E924"
}

.icon-kaistart-origin:before {
	content: "\E925"
}

.icon-kaistart-progress1:before {
	content: "\E926"
}

.icon-kaistart-project:before {
	content: "\E927"
}

.icon-kaistart-return:before {
	content: "\E928"
}

.icon-kaistart-prev-page:before {
	content: "\E929"
}

.icon-kaistart-next-page:before {
	content: "\E92A"
}

.icon-kaistart-wechat:before {
	content: "\E92B"
}

.icon-kaistart-qq:before {
	content: "\E92C"
}

.icon-kaistart-sina:before {
	content: "\E92D"
}

.icon-kaistart-trigon:before {
	content: "\E92E"
}

.icon-kaistart-warn:before {
	content: "\E92F"
}

.icon-kaistart-selfreport:before {
	content: "\E930"
}

.icon-kaistart-about0:before {
	content: "\E931"
}

.icon-kaistart-about9:before {
	content: "\E932"
}

.icon-kaistart-about8:before {
	content: "\E933"
}

.icon-kaistart-about7:before {
	content: "\E934"
}

.icon-kaistart-about6:before {
	content: "\E935"
}

.icon-kaistart-about5:before {
	content: "\E936"
}

.icon-kaistart-about4:before {
	content: "\E937"
}

.icon-kaistart-about3:before {
	content: "\E938"
}

.icon-kaistart-about2:before {
	content: "\E939"
}

.icon-kaistart-about1:before {
	content: "\E93A"
}

.icon-kaistart-users:before {
	content: "\E972"
}

.icon-kaistart-selfproject:before {
	content: "\E993"
}

.icon-kaistart-seting:before {
	content: "\E994"
}

.icon-kaistart-glass:before {
	content: "\E9A0"
}

.icon-kaistart-logout:before {
	content: "\E9B6"
}

.icon-kaistart-myProject:before {
	content: "\E9BD"
}

.icon-kaistart-notification:before {
	content: "\EA08"
}

.icon-kaistart-question:before {
	content: "\EA09"
}

.icon-kaistart-info:before {
	content: "\EA0C"
}

.icon-kaistart-cancel-circle:before {
	content: "\EA0D"
}

.icon-kaistart-circle-right:before {
	content: "\EA42"
}

.icon-kaistart-current:before {
	content: "\EA55"
}

.icon-kaistart-share:before {
	content: "\EA82"
}

.icon-question-circle:before {
	content: "\F059"
}

.icon-kaistart-info-circle:before {
	content: "\F05A"
}

.icon-kaistart-check-circle:before {
	content: "\F05D"
}

.icon-kaistart-exclamation-circle:before {
	content: "\F06A"
}

.icon-kaistart-arrow_drop_up:before {
	content: "\E93B"
}

.icon-kaistart-arrow_drop_down:before {
	content: "\E900"
}

h1,
h2,
h3,
h4,
h5,
input,
p,
ul {
	padding: 0;
	margin: 0
}

li {
	list-style: none
}

a:active,
a:hover,
a:link,
a:visited {
	text-decoration: none;
	cursor: pointer
}

body {
	background: #fafafa;
	font-family: PingFangSC-Light, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, STHeitiSC-Light, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif
}

.hide {
	display: none
}

.tc {
	text-align: center
}

.tr {
	text-align: right
}

.color-333 {
	color: #333
}

.color-666 {
	color: #666
}

.color-999 {
	color: #999
}

.color-black {
	color: #000
}

.color-red {
	color: red
}

.color-green {
	color: #34a853
}

.fs10 {
	font-size: 1em
}

.fs12 {
	font-size: 1.2em
}

.fs14 {
	font-size: 1.4em
}

.fs16 {
	font-size: 1.6em
}

.fs18 {
	font-size: 1.8em
}

.fs20 {
	font-size: 2em
}

.lh40 {
	line-height: 40px
}

.lh20 {
	line-height: 20px
}

.w100 {
	width: 100px
}

.mt10 {
	margin-top: 10px
}

.mt30 {
	margin-top: 30px
}

.mt40 {
	margin-top: 40px
}

.mt60 {
	margin-top: 60px
}

.mt100 {
	margin-top: 100px
}

.mt30p {
	margin-top: 30%
}

.mt50p {
	margin-top: 50%
}

.mt80p {
	margin-top: 80%
}

.mr5 {
	margin-right: 5px
}

.mr20 {
	margin-right: 20px
}

.mr105 {
	margin-right: 105px
}

.ml145 {
	margin-left: 145px
}

.none {
	display: none
}

.mb10 {
	margin-bottom: 10px
}

.mb30 {
	margin-bottom: 30px
}

.mb60 {
	margin-bottom: 60px
}

.mb100 {
	margin-bottom: 100px
}

.set {
	width: 780px;
	height: 40px;
	margin: 0 auto 30px;
	display: flex
}

.clearfix {
	zoom: 1
}

.clearfix:after {
	display: block;
	overflow: hidden;
	content: '';
	clear: both;
	height: 0
}

.fl {
	float: left
}

.fr {
	float: right
}

input[type=text]:focus {
	border-color: #5cb975!important;
	outline: none!important;
	border: 1px solid #5cb975
}

input {
	outline: none
}

textarea:focus {
	border-color: #5cb975!important;
	outline: none!important
}

.ksui-btn,
.ksui-btn-green {
	display: inline-block;
	width: 150px;
	height: 40px;
	outline: none;
	line-height: 40px;
	text-align: center;
	color: #666;
	cursor: pointer;
	margin-right: 20px;
	background-color: #e1e1e1;
	border: 1px solid #f5f5f5
}

.ksui-btn-green {
	color: #fff;
	background-color: #34a853;
	border: none
}

.ksbtn,
[class^=ksbtn-] {
	display: inline-block;
	width: 120px;
	height: 40px;
	outline: none;
	line-height: 40px;
	text-align: center;
	color: #666;
	cursor: pointer;
	background-color: #f5f5f5;
	border: 1px solid #e1e1e1
}

.ksbtn-primary,
[class^=ksbtn-primary] {
	color: #fff;
	background-color: #34a853;
	border: none
}

.ksbtn-ghost,
[class^=ksbtn-ghost] {
	background-color: transparent
}

.ksbtn-more,
[class^=ksbtn-more] {
	padding: 1px 0;
	border: none;
	background-color: #fff
}

.ksbtn-ghost:hover,
.ksbtn-more:hover,
.ksbtn:hover,
[class^=ksbtn]:hover {
	color: #5cb975;
	border-color: #5cb975
}

.ksbtn:hover {
	background-color: #fff
}

.ksbtn-primary:hover,
[class^=ksbtn-primary]:hover {
	color: #fff;
	background-color: #5cb975
}

.ksbtn-w150,
[class$=-w150] {
	width: 150px
}

.ksbtn-w130 {
	width: 130px
}

.ksbtn-w80,
[class$=-w80] {
	width: 80px
}

.position-relative {
	position: relative
}

.text-center {
	text-align: center
}

.weui_mask {
	z-index: 1000;
	background: rgba(0, 0, 0, .6)
}

.weui_mask,
.weui_mask_transparent {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

.weui_mask_transparent {
	z-index: 5001
}

.weui_mask_transition {
	display: none;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent;
	-webkit-transition: background .3s;
	transition: background .3s
}

.weui_fade_toggle {
	background: rgba(0, 0, 0, .6)
}

.weui_toast {
	position: fixed;
	z-index: 50000;
	width: 7.6em;
	min-height: 7.6em;
	top: 180px;
	left: 50%;
	margin-left: -3.8em;
	background: rgba(40, 40, 40, .75);
	text-align: center;
	border-radius: 5px;
	color: #fff
}

.weui_icon_toast {
	margin: 22px 0 0;
	display: block
}

.weui_icon_toast:before {
	content: '\EA08';
	color: #fff;
	font-size: 55px
}

.weui_toast_content {
	margin: 0 0 15px
}

.weui_loading_toast .weui_toast_content {
	margin-top: 64%;
	font-size: 14px
}

.weui_loading {
	position: absolute;
	width: 0;
	z-index: 1;
	left: 50%;
	top: 38%
}

.weui_loading_leaf {
	position: absolute;
	top: -1px;
	opacity: .25
}

.weui_loading_leaf:before {
	content: " ";
	position: absolute;
	width: 8.14px;
	height: 3.08px;
	background: #d1d1d5;
	box-shadow: 0 0 1px rgba(0, 0, 0, .0980392);
	border-radius: 1px;
	-webkit-transform-origin: left 50% 0;
	transform-origin: left 50% 0
}

.weui_loading_leaf_0 {
	-webkit-animation: opacity-60-25-0-12 1.25s linear infinite;
	animation: opacity-60-25-0-12 1.25s linear infinite
}

.weui_loading_leaf_0:before {
	-webkit-transform: rotate(0deg) translate(7.92px);
	transform: rotate(0deg) translate(7.92px)
}

.weui_loading_leaf_1 {
	-webkit-animation: opacity-60-25-1-12 1.25s linear infinite;
	animation: opacity-60-25-1-12 1.25s linear infinite
}

.weui_loading_leaf_1:before {
	-webkit-transform: rotate(30deg) translate(7.92px);
	transform: rotate(30deg) translate(7.92px)
}

.weui_loading_leaf_2 {
	-webkit-animation: opacity-60-25-2-12 1.25s linear infinite;
	animation: opacity-60-25-2-12 1.25s linear infinite
}

.weui_loading_leaf_2:before {
	-webkit-transform: rotate(60deg) translate(7.92px);
	transform: rotate(60deg) translate(7.92px)
}

.weui_loading_leaf_3 {
	-webkit-animation: opacity-60-25-3-12 1.25s linear infinite;
	animation: opacity-60-25-3-12 1.25s linear infinite
}

.weui_loading_leaf_3:before {
	-webkit-transform: rotate(90deg) translate(7.92px);
	transform: rotate(90deg) translate(7.92px)
}

.weui_loading_leaf_4 {
	-webkit-animation: opacity-60-25-4-12 1.25s linear infinite;
	animation: opacity-60-25-4-12 1.25s linear infinite
}

.weui_loading_leaf_4:before {
	-webkit-transform: rotate(120deg) translate(7.92px);
	transform: rotate(120deg) translate(7.92px)
}

.weui_loading_leaf_5 {
	-webkit-animation: opacity-60-25-5-12 1.25s linear infinite;
	animation: opacity-60-25-5-12 1.25s linear infinite
}

.weui_loading_leaf_5:before {
	-webkit-transform: rotate(150deg) translate(7.92px);
	transform: rotate(150deg) translate(7.92px)
}

.weui_loading_leaf_6 {
	-webkit-animation: opacity-60-25-6-12 1.25s linear infinite;
	animation: opacity-60-25-6-12 1.25s linear infinite
}

.weui_loading_leaf_6:before {
	-webkit-transform: rotate(180deg) translate(7.92px);
	transform: rotate(180deg) translate(7.92px)
}

.weui_loading_leaf_7 {
	-webkit-animation: opacity-60-25-7-12 1.25s linear infinite;
	animation: opacity-60-25-7-12 1.25s linear infinite
}

.weui_loading_leaf_7:before {
	-webkit-transform: rotate(210deg) translate(7.92px);
	transform: rotate(210deg) translate(7.92px)
}

.weui_loading_leaf_8 {
	-webkit-animation: opacity-60-25-8-12 1.25s linear infinite;
	animation: opacity-60-25-8-12 1.25s linear infinite
}

.weui_loading_leaf_8:before {
	-webkit-transform: rotate(240deg) translate(7.92px);
	transform: rotate(240deg) translate(7.92px)
}

.weui_loading_leaf_9 {
	-webkit-animation: opacity-60-25-9-12 1.25s linear infinite;
	animation: opacity-60-25-9-12 1.25s linear infinite
}

.weui_loading_leaf_9:before {
	-webkit-transform: rotate(270deg) translate(7.92px);
	transform: rotate(270deg) translate(7.92px)
}

.weui_loading_leaf_10 {
	-webkit-animation: opacity-60-25-10-12 1.25s linear infinite;
	animation: opacity-60-25-10-12 1.25s linear infinite
}

.weui_loading_leaf_10:before {
	-webkit-transform: rotate(300deg) translate(7.92px);
	transform: rotate(300deg) translate(7.92px)
}

.weui_loading_leaf_11 {
	-webkit-animation: opacity-60-25-11-12 1.25s linear infinite;
	animation: opacity-60-25-11-12 1.25s linear infinite
}

.weui_loading_leaf_11:before {
	-webkit-transform: rotate(330deg) translate(7.92px);
	transform: rotate(330deg) translate(7.92px)
}

@-webkit-keyframes opacity-60-25-0-12 {
	0% {
		opacity: .25
	}
	0.01% {
		opacity: .25
	}
	0.02% {
		opacity: 1
	}
	60.01% {
		opacity: .25
	}
	to {
		opacity: .25
	}
}

@-webkit-keyframes opacity-60-25-1-12 {
	0% {
		opacity: .25
	}
	8.34333% {
		opacity: .25
	}
	8.35333% {
		opacity: 1
	}
	68.3433% {
		opacity: .25
	}
	to {
		opacity: .25
	}
}

@-webkit-keyframes opacity-60-25-2-12 {
	0% {
		opacity: .25
	}
	16.6767% {
		opacity: .25
	}
	16.6867% {
		opacity: 1
	}
	76.6767% {
		opacity: .25
	}
	to {
		opacity: .25
	}
}

@-webkit-keyframes opacity-60-25-3-12 {
	0% {
		opacity: .25
	}
	25.01% {
		opacity: .25
	}
	25.02% {
		opacity: 1
	}
	85.01% {
		opacity: .25
	}
	to {
		opacity: .25
	}
}

@-webkit-keyframes opacity-60-25-4-12 {
	0% {
		opacity: .25
	}
	33.3433% {
		opacity: .25
	}
	33.3533% {
		opacity: 1
	}
	93.3433% {
		opacity: .25
	}
	to {
		opacity: .25
	}
}

@-webkit-keyframes opacity-60-25-5-12 {
	0% {
		opacity: .27095833
	}
	41.6767% {
		opacity: .25
	}
	41.6867% {
		opacity: 1
	}
	1.67667% {
		opacity: .25
	}
	to {
		opacity: .27095833
	}
}

@-webkit-keyframes opacity-60-25-6-12 {
	0% {
		opacity: .375125
	}
	50.01% {
		opacity: .25
	}
	50.02% {
		opacity: 1
	}
	10.01% {
		opacity: .25
	}
	to {
		opacity: .375125
	}
}

@-webkit-keyframes opacity-60-25-7-12 {
	0% {
		opacity: .47929167
	}
	58.3433% {
		opacity: .25
	}
	58.3533% {
		opacity: 1
	}
	18.3433% {
		opacity: .25
	}
	to {
		opacity: .47929167
	}
}

@-webkit-keyframes opacity-60-25-8-12 {
	0% {
		opacity: .58345833
	}
	66.6767% {
		opacity: .25
	}
	66.6867% {
		opacity: 1
	}
	26.6767% {
		opacity: .25
	}
	to {
		opacity: .58345833
	}
}

@-webkit-keyframes opacity-60-25-9-12 {
	0% {
		opacity: .687625
	}
	75.01% {
		opacity: .25
	}
	75.02% {
		opacity: 1
	}
	35.01% {
		opacity: .25
	}
	to {
		opacity: .687625
	}
}

@-webkit-keyframes opacity-60-25-10-12 {
	0% {
		opacity: .79179167
	}
	83.3433% {
		opacity: .25
	}
	83.3533% {
		opacity: 1
	}
	43.3433% {
		opacity: .25
	}
	to {
		opacity: .79179167
	}
}

@-webkit-keyframes opacity-60-25-11-12 {
	0% {
		opacity: .89595833
	}
	91.6767% {
		opacity: .25
	}
	91.6867% {
		opacity: 1
	}
	51.6767% {
		opacity: .25
	}
	to {
		opacity: .89595833
	}
}

.bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
	border-top: 1px solid #f1f1f1;
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 9999
}

.back {
	display: inline-block;
	padding-left: 15px;
	line-height: 50px!important;
	color: #5cb975;
	font-size: 20px;
	text-align: center
}

.fixed-space {
	height: 53px
}

.barTop {
	top: 0;
	bottom: inherit
}

body {
	margin: 0
}

.public-supporter-list>li[_v-2263fa60] {
	width: 360px;
	height: 80px;
	padding: 14px 0 0 19px;
	float: left;
	margin-bottom: 10px;
	border: 1px solid #fff
}

.public-supporter-list>li>img[_v-2263fa60] {
	width: 50px;
	height: 50px;
	float: left
}

.public-supporter-list>li>div[_v-2263fa60] {
	margin: 0 0 0 20px;
	float: left
}

.public-supporter-list>li>div>a[_v-2263fa60] {
	display: inline-block;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	margin-right: 10px;
	width: 190px;
}

.public-supporter-list>li>div>span[_v-2263fa60] {
	font-size: 12px;
	line-height: 17px;
	color: #999
}

.public-supporter-list>li>div>p[_v-2263fa60] {
	margin-top: 6px;
	font-size: 14px;
	line-height: 20px;
	color: #666
}

.public-supporter-list-active[_v-2263fa60] {
	background-color: #f5f5f5;
	border: 1px solid #e1e1e1!important
}

.public-wait-load[_v-2263fa60] {
	width: 20px;
	height: 20px;
	background-image: url('http://images.kaistart.com/xinbanwait.png');
	cursor: pointer;
	margin: 100px auto
}

.public-load-bt[_v-2263fa60] {
	width: 100px;
	height: 20px;
	cursor: pointer;
	margin: 100px auto
}

.public-load-bt span[_v-2263fa60] {
	border: 1px solid hsla(0, 0%, 50%, .42);
	padding: 10px 20px;
	border-radius: 5px;
	color: #999
}

.public-supporter-list>li img[_v-2263fa60] {
	border-radius: 50%
}

.show-header[_v-2263fa60] {
	padding: 20px;
	background-color: #fff
}

.show-header ul[_v-2263fa60] {
	margin: 0
}

.show-header li[_v-2263fa60] {
	display: inline-block;
	padding-right: 5px
}

.show-header li img[_v-2263fa60] {
	width: 30px;
	height: 30px;
	border-radius: 50%
}

.show-header li[_v-2263fa60]:last-child {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #999;
	letter-spacing: 0;
	line-height: 30px;
	float: right
}

@media screen and (max-width:769px) {
	.public-supporter-list>li[_v-2263fa60] {
		width: auto;
		float: none;
		background-color: #fff
	}
	.public-load-bt[_v-2263fa60] {
		font-size: 13px;
		margin: 40px auto
	}
	.public-wait-load[_v-2263fa60] {
		margin: 40px auto
	}
}

@media screen and (max-width:320px) {
	.public-supporter-list>li[_v-2263fa60] {
		padding: 14px 0 0 10px
	}
	.public-supporter-list>li>div>a[_v-2263fa60] {
		max-width: 90px;
		overflow: hidden
	}
	.show-header[_v-2263fa60] {
		padding: 20px 3px
	}
}