.main-public{
	width: 1160px;
	margin: 0px auto;
	margin-top: 10px;
}
.banner-four{
	width: 100%;
}
.four-left{
	width: 896px;
	float: left;
}
.four-right{
	width: 260px;
	background: #000000;
	height: 405px;
	float: right;
}
.four-right img{
	width: 100%;
	height: 405px;
}
.four-01{
	float: left;
	width: 592px;
	height: 200px;
	overflow: hidden;
	margin-bottom: 5px;
}
.four-01 img{
	width: 100%;
}
.four-02{
	float: right;
	width: 300px;
	height: 200px;
	overflow: hidden;
	margin-bottom: 5px;
}
.four-02 img{
	width: 100%;
}
.four-03{
	float: left;
	width: 300px;
	height: 200px;
	overflow: hidden;
}
.four-03 img{
	width: 100%;
}
.four-04{
	float: right;
	width: 592px;
	height: 200px;
	overflow: hidden;
}
.four-04 img{
	width: 100%;
}
.main-fenlei{
	width: 100%;
	margin-top: 50px;
}
.fenlei-title{
	width: 100%;
	border-bottom: 2px solid #000000;
}
.fenlei-title a:hover span{
	color: #fabe00;
}
.fenlei-title span{
	float: right;
	font-family: "Hiragino Sans GB","microsoft yahei";
    color: #999;
    font-size: 14px;
    position: relative;
    top: 8px;
}
.fenlei-title h3{
	font-size: 20px;
    line-height: 35px;
    color: #555;
    font-weight: bold;
    width: 235px;
    float: left;
    height: 35px;
}
.fenlei-title h3 i{
	margin-right: 5px;
	position: relative;
	top: 2px;
}
.fenlei-title ul{
	float: left;
}
.fenlei-title ul li{
	    float: left;
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
    margin-top: 5px;
}
.fenlei-title ul li a{
	height: 22px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Hiragino Sans GB","microsoft yahei";
    font-size: 14px;
    color: #666;
}
.fenlei-title ul li.on a{
	height: 22px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #555;
}
.fenlei-main{
	width: 100%;
}
.fenlei-left{
	float: left;
	width: 220px;
	height: 490px;
	position: relative;
}
.left-img{
	position: absolute;
	left: -20px;
	z-index: 5;
}
.left-list{
	width: 160px;
	position: relative;
	z-index: 10;
	margin-left: 20px;
	margin-top: 20px;
}
.left-list ul li{
	padding: 0px 10px;
	height: 33px;
	line-height: 33px;
	background: #fff;
	opacity: 0.9;
	border-radius: 3px;
	margin-bottom: 10px;
	color: #404040;
	transition: all ease .3s;
	position: relative;
	left: 0;
}
.left-list ul li:hover{
	left: -5px;
}
.left-list ul li a{
	color: #404040;
}
.left-list ul li:hover a{
	color: #404040;
}
.left-list ul li span{
	float: right;
	background-image: url(../img/icon-xin.png);
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: 0px 9px;
	text-indent: 17px;
}
.fenlei-right{
	float: right;
	width: 940px;
	position: relative;
}
.fenlei-right ul li{
	width: 215px;
    height: 215px;
    margin-right: 20px;
    margin-top: 20px;
    float: left;
    font-family: "Hiragino Sans GB","microsoft yahei";
    position: relative;
    box-shadow: 0px 0px 5px #ddd;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.fenlei-right ul li:hover{
	box-shadow: 0px 0px 5px #fabe00;
}
.fenlei-right ul li .pic{
	width: 100%;
	height: 125px;
	background-origin: border-box;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.fenlei-right ul li:hover .pic-ceng{
	display: block;
}
.fenlei-right ul li:hover .pic-title{
	display: block;
}
.pic-ceng{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 6;
	display: none;
}
.pic-title{
	display: block;
	margin: 0px 20px;
	color: #fff;
	position: relative;
	z-index: 10;
	top: 20px;
	display: none;
}
.fenlei-right ul li .price{
	color: #fabe00;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 15px;
}
.fenlei-right ul li .price span{
	font-size: 12px;
    font-weight: normal;
    color: #f90;
}
.fenlei-right ul li span.myd{
	float: right;
    line-height: 30px;
    color: #999;
    font-family: microsoft yahei;
}
.fenlei-right ul li span.myd i{
	color: #f90;
}
.fenlei-right ul li .name{
	width: 100%;
}
.fenlei-right ul li .name h3{
	display: block;
	width: 190px;
	font-weight: bold;
	margin: 0px auto;
	color: #333;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
