.lmDatailCalendar {
	width:100%;
	position:relative;
}
.card-unit {
	width:100%;
	position:relative;
}
.card-unit .card-btn {
	display:block;
	width:7px;
	height:28px;
	position:absolute;
	top:0;
	background:url(http://static.qyer.com/models/common/ui/lmDatailCalendar/ico_btns.png) no-repeat;
}
.card-unit .card-btn.prev {
	left:0;
	background-position:0 -37px;
}
.card-unit .card-btn.prev:hover {
	background-position:0 6px;
}
.card-unit .card-btn.prev.disable:hover {
	background-position:0 -37px;
}
.card-unit .card-btn.next {
	right:0;
	background-position:-11px -38px;
}
.card-unit .card-btn.next:hover {
	background-position:-11px 5px;
}
.card-unit .card-btn.next.disable:hover {
	background-position:-11px -38px;
}
.card-unit .card-wrap {
	margin:0 7px;
	overflow:hidden;
	position:relative;
	height:28px;
}
.card-unit .card-cell {
	width:999999px;
	position:absolute;
	top:0;
	left:0;
}
.card-unit .card-cell .single-card {
	width:80px;
	color:#959595;
	float:left;
	font-size:14px;
	text-align:center;
	margin:0 20px;
	padding-bottom:10px;
	cursor:pointer;
}
.card-unit .card-cell .single-card.active {
	color:#636363;
	background:url(http://static.qyer.com/models/common/ui/lmDatailCalendar/bg_tag.png) 0 22px no-repeat;
}
.table-unit {
	width:100%;
}
.calendarTab-head {
	width:100%;
	margin-bottom:6px;
}
.calendarTab-head td {
	text-align:center;
	background:#f5f5f5;
	height:30px;
	color:#c0c0c0;
}
.calendarTab-head td.blank {
	width:9px;
}
.calendarTab-wrap {
	margin:0 9px;
}
.calendarTab {
	width:100%;
	border-collapse:separate;
    border-spacing: 3px;
    
}
.calendarTab td{
	width:62px;
	height:52px;
	border:1px solid transparent;
	cursor:pointer;
}
.calendarTab td.has-item {
	border:1px solid #d7d8dc;
}
.calendarTab td.has-item:hover {
	border:1px solid #959595;
}
.calendarTab td .cal-cont-Warp {
	border:1px solid transparent;
}
.calendarTab td p {
	text-align:center;
	width:60px;
	overflow:hidden;
}
.calendarTab td .cal-date {
	color:#c0c0c0;
	font-size:14px;
	height:18px;
	line-height:18px;
}
.calendarTab td.has-item .cal-date {
	color:#636363;
}
.calendarTab td.has-item:hover .cal-date {
	color:#323232;
}
.calendarTab td .cal-price {
	color:#ff7466;
	height:12px;
	line-height:12px;
	margin-top:2px;
}
.calendarTab td .cal-dec {
	color:#959595;
	height:13px;
	line-height:12px;
	margin:1px 0 4px 0;
}
.calendarTab td .cal-dec.less {
	color:#ff7466;
}
.calendarTab td.disable {
	background:#f5f5f5;
	border:1px solid #ececec;
}
.calendarTab td.disable:hover {
	border:1px solid #ececec;
}
.calendarTab td.disable:hover .cal-date {
	color:#c0c0c0;
}
.calendarTab td.disable .cal-date,.calendarTab td.disable .cal-price,.calendarTab td.disable .cal-dec {
	color:#c0c0c0;
}
.calendarTab td.active {
	border:1px solid #ff7466;
}
.calendarTab td.active:hover {
	border:1px solid #ff7466;
}
.calendarTab td.active:hover .cal-date {
	color:#ff7466;
}
.calendarTab td.active .cal-cont-Warp {
	border:1px solid #ff7466;
}
.calendarTab td.active .cal-date,.calendarTab td.active .cal-price {
	color:#ff7466;
}
